<div>
<!-- <input type="text" placeholder="enter something" ng-model="$ctrl.me.name"/>
<h1>{{$ctrl.me}}</h1>
<h1>Name: {{$ctrl.me.name}}</h1> 
<h1>Number: {{$ctrl.me.number}}</h1>
  <button ng-click="$ctrl.changeName('Joe')">Submit</button>
 {{$ctrl.myName}} -->
 <!-- <p ng-repeat="member in $ctrl.band">{{member}}</p>
 ^^^^member is a new "variable" referring to each member in the band array^^^^ -->
 <!-- <ul>
   <li ng-repeat="member in $ctrl.band">{{member.name}} plays {{member.role}}</li>
   </ul>
 <h1>My first Angular compontent</h1>
 <input type="text" placeholder="enter something" />
 <button ng-disabled="!$ctrl.text">Submit</button>

   <h3 ng-repeat="name in $ctrl.names">{{name}}</h3>
  <input type ="text" ng-model="$ctrl.newName"/>
  <button ng-click="$ctrl.addName()">Submit</button> -->


    <!-- <h2 ng-repeat="student in $ctrl.students" ng-class="{ present: student.present }" ng-click="$ctrl.togglePresent(student)">
      {{student.name}}
    </h2> -->
<!-- <div ng-model = ng-model="$ctrl.familyMembers.name"/> -->




    <h2 class = "family">Family Members</h2>
    <div class = "relatives" ng-repeat="member in $ctrl.familyMembers">
      <p class = "name"> Name: </p> <p>{{member.name}} </p>
      <p class="relation">Relation: </p> <p> {{member.relation}}</p>
      <p class="age">Age: </p> <p>{{member.age}}</p>
    </div>
    
    <!-- </div> -->
 
</div>